In [59]:
import pandas as pd
import numpy as np

In [163]:
df = pd.read_csv('C:/aocd1.csv', header = None)

In [165]:
df.head()

     0
0  109
1  117
2  118
3   98
4  102

In [166]:
diff = df[0] - df[0].shift(1)

In [167]:
print(diff)

0        NaN
1        8.0
2        1.0
3      -20.0
4        4.0
        ...
1995     2.0
1996     3.0
1997     1.0
1998     4.0
1999    11.0
Name: 0, Length: 2000, dtype: float64

In [168]:
result = sum(i>0 for i in diff)

In [169]:
print(result)

1448

In [170]:
#problem 2

In [210]:
df2 = df.rolling(3, min_periods=3).sum()

In [212]:
print(df2)

            0
0         NaN
1         NaN
2       344.0
3       333.0
4       318.0
...       ...
1995  18864.0
1996  18868.0
1997  18874.0
1998  18882.0
1999  18898.0

[2000 rows x 1 columns]

In [213]:
diff2 = df2[0] - df2[0].shift(1)

In [214]:
print(diff2)

0        NaN
1        NaN
2        NaN
3      -11.0
4      -15.0
        ...
1995     2.0
1996     4.0
1997     6.0
1998     8.0
1999    16.0
Name: 0, Length: 2000, dtype: float64

In [215]:
result2 = sum(i>0 for i in diff2)

In [216]:
print(result2)

1471